.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  padding: 2rem;
  gap: 3rem;
  border-radius: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
  padding: 3rem;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.container h1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.container h3{
  font-size: 14pt;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.btn button {
  border: 0.15rem solid var(--color-primary);
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  text-align: center;
}
.box {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 40vw;
}
.box1 h3 {
  display: flex;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 1rem;
  gap: 10px;
  width: 60vw;
}

.errores{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errores p{
  font-size: 9pt;
}

@media (max-width: 1039px) {
 .container{
  width: 90vw;
  padding-bottom: 100px;
 }

 .box{
  flex-direction: column;
  align-items: center;
 }

 .btn{
  flex-direction: column;
  gap: 10px;
 }

 .box1{
  align-items: center;
 }



 .box2{
  width: 90%;
 }

 .data{
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  flex-direction: row;
 }

 .datos h2{
  text-align: center;
  font-size: 1.2em;
  margin: 15px 0;
 }

 .datos h3{
  text-align: center;
  font-size: 1em;
  margin: 0;
 }

 .datos h4{
  text-align: center;
  font-size: 0.9em;
  margin: 10px 0;
 }
}